Sentinel/SentinelConfigBackup.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "ForeachWathlistsID": {
                "actions": {
                    "HTTPGetWatchlistItems": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/watchlists/@{outputs('ObtainWatchlistAlias')}/watchlistItems?api-version=2021-09-01-preview"
                        },
                        "runAfter": {
                            "ObtainWatchlistAlias": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "ObtainWatchlistAlias": {
                        "inputs": "@items('ForeachWathlistsID')?['properties']?['watchlistAlias']",
                        "runAfter": {},
                        "type": "Compose"
                    },
                    "UploadWatchlistItems": {
                        "inputs": {
                            "body": "@body('HTTPGetWatchlistItems')",
                            "headers": {
                                "ReadFileMetadataFromServer": true
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                            "queries": {
                                "folderPath": "/sentinelbackup/watchlistitem/@{utcNow('yyyyMMdd')}",
                                "name": "@{utcNow('yyyyMMdd')}-WatchlistItems-@{outputs('ObtainWatchlistAlias')}.json",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {
                            "HTTPGetWatchlistItems": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    }
                },
                "description": "Foreach Sequential loop 1 at a time",
                "foreach": "@body('ParseJsonWatchlists')?['value']",
                "runAfter": {
                    "Set-varWatchlistsJson": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "type": "Foreach"
            },
            "HTTPGetAlertRules": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/alertRules?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "ParseJSONtoken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPGetAutomationRules": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/automationRules?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "UploadDataConnectors": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPGetDataConnectors": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/dataConnectors?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "ForeachWathlistsID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPGetEntities": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/_LOG_ANALYTICS_WORKSPACE_SENTINEL_SUBSCRIPTION_ID_/resourceGroups/_LOG_ANALYTICS_WORKSPACE_SENTINEL_RESOURCE_GROUP_NAME_/providers/Microsoft.OperationalInsights/workspaces/_LOG_ANALYTICS_WORKSPACE_SENTINEL_NAME_/providers/Microsoft.SecurityInsights/entities?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "UploadSettings": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPGetEntityQueries": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/entityQueries?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "UploadEntities": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPGetSettings": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/settings?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "UploadAutomationRules": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPGetWatchlists": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('ParseJSONtoken')?['access_token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('varSentinelSubscriptionID')}/resourceGroups/@{variables('varSentinelResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('varSentinelWorkspaceName')}/providers/Microsoft.SecurityInsights/watchlists?api-version=2021-09-01-preview"
                },
                "runAfter": {
                    "UploadAlertRulesJson": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTPgetToken": {
                "inputs": {
                    "body": "client_id=@{variables('clientID')}&scope=https://management.azure.com/.default&client_secret=@{variables('clientSecretID')}&grant_type=client_credentials",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "uri": "https://login.microsoftonline.com/@{variables('tenantID')}/oauth2/v2.0/token"
                },
                "runAfter": {
                    "var-WatchlistsJson": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "ParseJSONtoken": {
                "inputs": {
                    "content": "@body('HTTPgetToken')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTPgetToken": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "ParseJsonWatchlists": {
                "inputs": {
                    "content": "@body('HTTPGetWatchlists')",
                    "schema": {
                        "properties": {
                            "value": {
                                "items": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "created": {
                                                    "type": "string"
                                                },
                                                "createdBy": {
                                                    "properties": {
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "objectId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "defaultDuration": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "isDeleted": {
                                                    "type": "boolean"
                                                },
                                                "itemsSearchKey": {
                                                    "type": "string"
                                                },
                                                "labels": {
                                                    "type": "array"
                                                },
                                                "numberOfLinesToSkip": {
                                                    "type": "integer"
                                                },
                                                "provider": {
                                                    "type": "string"
                                                },
                                                "source": {
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "type": "string"
                                                },
                                                "updated": {
                                                    "type": "string"
                                                },
                                                "updatedBy": {
                                                    "properties": {
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "objectId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "uploadStatus": {
                                                    "type": "string"
                                                },
                                                "watchlistAlias": {
                                                    "type": "string"
                                                },
                                                "watchlistId": {
                                                    "type": "string"
                                                },
                                                "watchlistType": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "systemData": {
                                            "properties": {
                                                "createdAt": {
                                                    "type": "string"
                                                },
                                                "createdBy": {
                                                    "type": "string"
                                                },
                                                "createdByType": {
                                                    "type": "string"
                                                },
                                                "lastModifiedAt": {
                                                    "type": "string"
                                                },
                                                "lastModifiedBy": {
                                                    "type": "string"
                                                },
                                                "lastModifiedByType": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name",
                                        "type",
                                        "systemData",
                                        "properties"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "UploadWatchlistsJson": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Set-varWatchlistsJson": {
                "inputs": {
                    "name": "varWatchlistsJson",
                    "value": "@body('ParseJsonWatchlists')"
                },
                "runAfter": {
                    "ParseJsonWatchlists": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "UploadAlertRulesJson": {
                "inputs": {
                    "body": "@body('HTTPGetAlertRules')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-AlertRules.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetAlertRules": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "UploadAutomationRules": {
                "inputs": {
                    "body": "@body('HTTPGetAutomationRules')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-AutomationRules.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetAutomationRules": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "UploadDataConnectors": {
                "inputs": {
                    "body": "@body('HTTPGetDataConnectors')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-DataConnectors.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetDataConnectors": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "UploadEntities": {
                "inputs": {
                    "body": "@body('HTTPGetEntities')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-Entities.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetEntities": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "UploadEntityQueries": {
                "inputs": {
                    "body": "@body('HTTPGetEntityQueries')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-EntityQueries.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetEntityQueries": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "UploadSettings": {
                "inputs": {
                    "body": "@body('HTTPGetSettings')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-Settings.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetSettings": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "UploadWatchlistsJson": {
                "inputs": {
                    "body": "@body('HTTPGetWatchlists')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                        "folderPath": "/sentinelbackup",
                        "name": "@{utcNow('yyyyMMdd')}-Watchlists.json",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTPGetWatchlists": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "var-SentinelResourceGroupName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "varSentinelResourceGroupName",
                            "type": "string",
                            "value": "_LOG_ANALYTICS_WORKSPACE_SENTINEL_RESOURCE_GROUP_NAME_"
                        }
                    ]
                },
                "runAfter": {
                    "var-SentinelSubscriptionID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "var-SentinelSubscriptionID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "varSentinelSubscriptionID",
                            "type": "string",
                            "value": "_LOG_ANALYTICS_WORKSPACE_SENTINEL_SUBSCRIPTION_ID_"
                        }
                    ]
                },
                "runAfter": {
                    "var-clientSecret": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "var-SentinelWorkspaceName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "varSentinelWorkspaceName",
                            "type": "string",
                            "value": "_LOG_ANALYTICS_WORKSPACE_SENTINEL_NAME_"
                        }
                    ]
                },
                "runAfter": {
                    "var-SentinelResourceGroupName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "var-WatchlistsJson": {
                "inputs": {
                    "variables": [
                        {
                            "name": "varWatchlistsJson",
                            "type": "object"
                        }
                    ]
                },
                "runAfter": {
                    "var-SentinelWorkspaceName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "var-clientID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "clientID",
                            "type": "string",
                            "value": "_SERVICE_PRINCIPAL_CLIENT_ID_"
                        }
                    ]
                },
                "runAfter": {
                    "var-tenantID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "var-clientSecret": {
                "inputs": {
                    "variables": [
                        {
                            "name": "clientSecretID",
                            "type": "string",
                            "value": "_SERVICE_PRINCIPAL_CLIENT_SECRET_ID_"
                        }
                    ]
                },
                "runAfter": {
                    "var-clientID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "var-tenantID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "tenantID",
                            "type": "string",
                            "value": "_SERVICE_PRINCIPAL_TENANT_ID_"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "9"
                        ],
                        "minutes": [
                            20
                        ],
                        "weekDays": [
                            "Friday"
                        ]
                    },
                    "timeZone": "Romance Standard Time"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "9"
                        ],
                        "minutes": [
                            20
                        ],
                        "weekDays": [
                            "Friday"
                        ]
                    },
                    "timeZone": "Romance Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/_LOG_ANALYTICS_WORKSPACE_SENTINEL_SUBSCRIPTION_ID_/resourceGroups/_LOG_ANALYTICS_WORKSPACE_SENTINEL_RESOURCE_GROUP_NAME_/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/_LOG_ANALYTICS_WORKSPACE_SENTINEL_SUBSCRIPTION_ID_/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
                }
            }
        }
    }
}